.container_addInfo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.titleBlock_addInfo {
    text-align: center;
    width: 762px;
    height: 222px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.titleBlock_addInfo h1 {
    font-size: 36px !important;
}

.titleBlock_addInfo p {
    font-size: 20px !important;
}

.addBlocks {
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    gap: 50px;
}

.addBlocks__container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.addBlocks__container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBlocks__container img {
    height: 90px;
}

.button_Vk {
    width: 236px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    border-radius: 6px;
    font-size: 20px;
}

.button_Vk a {
    padding: 25px 10px;
}

@media (max-width: 430px) {
    .container_addInfo {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .addBlocks {
        width: 100%;
    }
    .addBlocks__container {
        display: grid;
        max-width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }
    .addBlocks__container div {
        width: 100%;
        height: 100%;
    }
    .addBlocks__container img {
        width: 100%;
        height: 100%;
    }
    .button_Vk {
        max-width: 100%;
        max-height: 100%;
    }
    .titleBlock_addInfo {
        width: 100%;
    }
    .titleBlock_addInfo h1 {
        font-size: 20px !important;
        width: 100%;
    }
    .titleBlock_addInfo p {
        font-size: 15px !important;
        width: 100%;
    }
    .addBlocks {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .button_Vk {
        height: 50px;
    }
}