.footer {
    text-align: center;
    width: 99%;
    font-size: 19px;
    font-weight: bold;
    color: #fafafa;
    background: #252b42;
}

.container_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 20px 20px;
}

.footer_first_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer_logo_class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 20px;
    font-size: 20px;
}

.footer_img_class {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_img_class h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.footer_second_block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.footer_location_class {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer_location_class a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_mobile_class {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
    font-size: 20px;
}

.footer_mobile_class a {
    color: white;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.footer_mapsite_class {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
}

.footer_mapsite_class a {
    color: #fafafa;
    text-decoration: none;
    gap: 20px;
}

.footer_third_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

.footer_third_block a {
    color: #fafafa;
    text-decoration: none;
}

@media (max-width: 430px) {
    .footer {
        width: 100%;
    }
    .container_footer {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .footer_first_block {
        font-size: 10px;
    }
    .footer_logo_class {
        font-size: 10px;
    }
    .footer_logo_class h3 {
        font-size: 10px;
    }
    .footer_img_class {}
    .footer_second_block {
        font-size: 10px;
    }
    .footer_location_class {
        font-size: 10px;
    }
    .footer_location_img {}
    .footer_location_text {
        font-size: 10px;
    }
    .footer_mobile_class {
        font-size: 10px;
    }
    .footer_mobile_img {}
    .footer_mobile_text {
        font-size: 10px;
    }
    .footer_mapsite_class {
        font-size: 10px;
    }
    .footer_third_block {
        font-size: 10px;
    }
}