.footer {
    text-align: center;
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    color: #fafafa;
    background: #252b42;
    padding: 20px 10%;
}

.footer>.ant-row>.ant-col>.ant-flex>a,h4 {
    text-align: start;
}