
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  .open-modal-inn-btn {
    background: #fff;
    padding: 18px 25px;
    border-radius: 20px;
    font-weight: 500;
    border: 0;
    outline: none;
    font-size: 22px;
    cursor: pointer;
    line-height: 23px;
    box-shadow: 0 3px 5px rgba(#0F172A);
    transition: all 0.1s ease-in-out;
  

  }

  .open-modal-inn-btn:hover {
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
    transform: translate(0);
  }
  
  .overlay_inn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.5s ease-in-out;
  }
  
  .modal_inn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 750px;
    max-width: 750px;
    height: 375px;
    padding: 20px 20px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
  
    svg {
      position: absolute;
      right: 10px;
      top: 30px;
      height: 24px;
      width: 24px;
      opacity: 0.3;
      cursor: pointer;
  
      &:hover {
        opacity: 1;
      }
    }
  }


  
  .overlay_inn.animated {
    opacity: 0;
    visibility: hidden;
  
    .modal {
      opacity: 0;
      visibility: hidden;
      transform: translate(-50%, -30%);
      transition-delay: 0.2s;
    }
  
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .overlay_inn.animated > .modal_inn {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%);
  }

