.housiung_programs_info_block {
    margin: 0 auto;
    background: white;
    width: 80%;
    padding-top: 20px;
}

.programs_info_block_title_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.programs_buttons_container {
    width: 500px;
    height: 104px;
    margin: 0 auto;
    text-align: center;
}

.programs_info_block_title_block h4 {
    color: #d9d9d9;
    font-size: 15px;
    height: 100%;
    font-weight: normal;
}

.programs_flex_application {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 576px;
    height: 109px;
}

.programs_button_application {
    background: #34c759;
    margin-right: 20px;
    width: 263px;
    height: 76px;
    font-weight: bold;
    padding-top: 25px;
}

.programs_button_queue_application {
    width: 263px;
    height: 76px;
    padding-top: 25px;
    font-weight: bold;
}

.programs__term{
display: flex;
flex-direction: row;
justify-content: space-around;

}

.programs__term__col{

}

.programs__term__card{
    width: 398px;
}

.programs_img_class {
    display: flex;
    justify-content: center;
}

.div__term {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Catalog_CP_Page {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Block_CP_Page {
    text-align: center;
}

.Title_CP_Page {
    color: #404040;
    font-size: 48px;
    font-weight: normal;
}

.Second_Title_CP_Page {
    color: #979797;
    font-size: 31px;
    font-weight: normal;
}

.first_block_programs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
}

.title_programs {
    color: #404040;
    /* font-size: 48px; */
    text-align: center;
    font-weight: bold;

    width: 100%;
}

.paragraph_programs {
    text-align: center;
    color: #374754;
}

.second_block_programs {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.card__federal{
    width: 398px;
    height: 193px;
}

.second_table_programs {
    margin-top: 20px;
}

.Card_programs_block {
    background: #f1f2f4;
}

/* ///CatalogProgComponents */

.block_catalogs_programs {
    display: flex;
    flex-direction: row;
justify-content: space-around;
    text-align: center;
  
}

.second_card_cardprog {
    /* background-color: #2091F9; */

    transition: 1s;
    cursor: pointer;
    min-width: 200px;

    height: 500px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    overflow: hidden;
}

.second_card_cardprog:hover {
    transform: scale(0.9);
    background: #2091f9;
    /* height: 670px; */
    transition-duration: 1000ms;
    /* color: #F1F2F4; */
}

.conditions:hover {
    color: #f1f2f4;
}

/* .second_card_cardprog_heading_prog:hover {
  color: #F1F2F4;
} */

.second_card_cardprog_paragraph {
    color: #374754;
}

.second_card_cardprog_heading:hover {
    cursor: pointer;
    color: #374754;
}

.second_card_cardprog_paragraph:hover {
    color: #374754;
}

.second_card_cardprog:hover .button_catalog_programs {
    background: #fff;
    color: #2091f9;
}

.button_catalog_programs {
    cursor: pointer;
    width: 205px;
    height: 56px;
    border-radius: 35px;
}

.button_catalog_programs:hover {
    /* transform: scale(1.1); */
    background: #f1f2f4 !important;
    color: black !important;
    transition: all 3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    text-transform: all 0.3s linear;
}

.mortgage_class {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.morgage__ipoteka__class{
    width: 50%;
}

.mortgage__ipoteka{
    width: 100%;
}

.mortgage_class_left_block {
    width: 100%;
    height: 100%;
}

.mg_title_left_block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #4fb1ff;
    padding-left: 20px;
}

.mg_img {
    display: flex;
    margin-top: 20px;
}

.mg_img_container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 1px #4fb1ff solid;
}

.mg_img_container {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 430px) {
    .Container_CatalogProgramsPage {
        width: 100%;
        
    }

    .Block_CP_Page {
        width: 100%;
    }

    .Title_CP_Page {
        width: 100%;
        font-size: 20px;
        font-weight: 500;
    }

    .Second_Title_CP_Page {

        font-size: 9px;
        font-weight: normal;
    }

    .block_catalogs_programs {
        display: flex !important;
        flex-direction: column !important;
        gap: 10px !important;
        width: 100%;
        margin: 0 auto !important;
       
    }

    .block_catalogs_programs__col {
     
    }

    .second_card_cardprog {
        height: 100%;
   
   

    }

    .programs_flex_application{
     margin: 0;
    
    }

    .second_card_cardprog h3 {
        font-size: 8px;
    }

    .conditions {
        font-size: 7px;
    }

    .button_catalog_programs {
        width: 100px;
        height: 30px;
        font-size: 10px;
        font-weight: 500;
    }

    .container_programs {
        width: 100%;

    }

    .first_block_programs {
        width: 100%;


    }

    .title_programs {
        width: 80%;
        font-size: 20px;
        margin: 0 auto;
    }

    .paragraph_programs {
        width: 80%;
        font-size: 15px;
        margin: 0 auto;
    }

    .programs_img_class {
        /* display: none; */
    }

    .second_block_programs {
        display: flex;
        flex-direction: column;
        gap: 20px !important;
        width: 100% !important;
    }

    .card__federal{
        width: 100% !important;
        height: 100%;
        
    }

    .second_col_programs {

    }

    .Card_programs_block {
        width: 100%;
        height: 100%;
    }

    .Card_programs_block h5 {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .programs__term {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .programs__term__col {
        width: 100%;
    }

    .programs__term__card {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        
    }

    .div__term{
    
    }

    .mortgage_class {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
    }

    .mortgage_col {}

    .mortgage_class_left_block {
        width: 100%;
       
    }

    .morgage__ipoteka__class{
        width: 100%;
    }

    .mortgage__ipoteka {
        width: 100%;
       
    }

    .mortgage__region {
        width: 100%;
     
    }


    .description__card__info {
        width: 100%;
    }

    .btn__description {
        display: none !important;
    }

}