.housiung_programs_info_block {
 margin: 0 auto;
 background: white;
 width: 80%;
 padding-top: 20px;
}

.programs_info_block_title_block {
 display: flex;
 flex-direction: column;
 text-align: center;
 gap: 20px;
}

.programs_buttons_container {
 width: 500px;
 height: 104px;
 margin: 0 auto;
 text-align: center;
}



.programs_info_block_title_block h4 {
 color: #D9D9D9;
 font-size: 15px;
 height: 100%;
 font-weight: normal;
}

.programs_flex_application {
 display: flex;
 flex-direction: row;
 margin: 0 auto;
 width: 576px;
 height: 109px;
}

.programs_button_application {
 background: #34C759;
 margin-right: 20px;
 width: 263px;
 height: 76px;
 font-weight: bold;
 padding-top: 25px;
}

.programs_button_queue_application {
 width: 263px;
 height: 76px;
 padding-top: 25px;
 font-weight: bold;
}

.programs_img_class {
 display: flex;
 justify-content: center;
}




.Catalog_CP_Page {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.Block_CP_Page {
    text-align: center;
}


.Title_CP_Page {
    color: #404040;
    font-size: 48px;
    font-weight: normal;
}

.Second_Title_CP_Page {
    color: #979797;
    font-size: 31px;
    font-weight: normal;
}

.first_block_programs {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;


}

.title_programs {
    color: #404040;
    /* font-size: 48px; */
    text-align: center;
    font-weight: bold;

    width: 100%;
}

.paragraph_programs {
    text-align: center;
    color: #374754;
}


.second_block_programs {
    margin-top: 40px;

}

.second_table_programs {
    margin-top: 20px;
}

.Card_programs_block {
    background: #F1F2F4;
    
}




/* ///CatalogProgComponents */

.block_catalogs_programs {
    display: flex;
    flex-direction: row;
   
    text-align: center;
}

.second_card_cardprog {
    /* background-color: #2091F9; */

    transition: 1s;
    cursor: pointer;
    min-width: 280px;
    height: 470px;
    -webkit-transition: all 1s ease;;
    -moz-transition: all 1s ease;;
    -o-transition: all 1s ease;;
    transition: all 1s ease;
    overflow: hidden; 
}

.second_card_cardprog:hover {
    transform: scale(0.9);
    background: #2091F9;
    /* height: 670px; */
    transition-duration: 1000ms;
    /* color: #F1F2F4; */
}

.conditions:hover {
    color: #F1F2F4;
}

/* .second_card_cardprog_heading_prog:hover {
  color: #F1F2F4;
} */

.second_card_cardprog_paragraph {
    color: #374754;
}

.second_card_cardprog_heading:hover {
    cursor: pointer;
    color: #374754;
}

.second_card_cardprog_paragraph:hover {
    color: #374754;
}

.second_card_cardprog:hover .button_catalog_programs {
    background: #fff;
    color: #2091F9;
}

.button_catalog_programs {
    cursor: pointer;
    width: 205px;
    height: 56px;
    border-radius: 35px;
}

.button_catalog_programs:hover {
    /* transform: scale(1.1); */
    background: #F1F2F4 !important;
    color: black !important;
    transition: all 3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    text-transform: all .3s linear;

}


.mortgage_class {
    margin-top: 50px;
}

.mortgage_class_left_block {
    width: 100%;
    height: 100%;
}

.mg_title_left_block {
 display: flex;
 flex-direction: row;
 gap: 10px;
 background: #4FB1FF;
 padding-left: 20px;
}

.mg_img {
    display: flex;
    margin-top: 20px;
}

.mg_img_container {
 width: 200px;
 height: 200px;
 margin: 0 auto;
 border: 1px #4FB1FF solid ;
}

.mg_img_container {
    text-align: center;
    margin-top: 50px;
}