@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;
}

p {
    font-family: "Playfair Display", serif;
}


/* * {
    border: 1px green solid !important;
} */

@media (prefers-color-scheme: light) {
     :root {
        /* width: 430px; */
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

*/ li:hover::before {
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    background: #2a68ff;
    right: 0;
    color: #2a68ff;
    bottom: -10px;
}

html,
body {
    margin: 8;
}

@media(max-width: 430px) {
     :root {
        max-width: 430px;
    }
    body {}
}